body,html{
  margin:0; 
  padding:0;
}

.block {
  text-align: center;
  background: #c0c0c0;
}
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
    
  /*background: #808080; width: 5px;*/

 }

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
}