@font-face { font-family: quicksand; src: url('Quicksand-Regular.otf'); } 
@font-face {font-family: Aller_Bd; src: url('Aller_Bd.ttf'); }
html,body{
	height: 100%;
	width: 100%;
	
	margin: 0;
	padding: 0;
	
	font-size: 100%;
}
a{
	text-decoration: none;
	color:white;
}
.leftSide{
	height: 100%;
	width: 25%;
	
	position: absolute;
	left: 0;
	top: 0;

	background-color: #8EECC4;
	
	text-align: center;
	color: white;
	font-family: quicksand;
}
h1{
	padding-top: 45%;

	margin: 0;
	
	font-size: 5em;
}
.leftSide > header > p{
	font-size: 3em;
}
.content{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 25%;

	height: 100%;
	width:75%;

	overflow: auto;

	background-color: #E15852;
	color:white;
	font-family: Aller_Bd;
	
}
.content > article{
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
}
h2{
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 3em;
	padding-bottom: 5px;

	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: white;
}
.content > article > headerP > p{
	font-size: 1.4em;
	padding: 0;
	float: right;
}
.content > article > p{
	margin: 0.4em 0;
	margin-left: 0;
	padding: 1em;
	padding-top: 0.5em;
	padding-left: 0;
	font-size: 1.4em;
}
.button{
	padding: 15px;
	
	font-size: 2.5em;
	
	border-color: #D6F673;
	border-style: solid;
	border-width: 4px;
}
.button:hover{
	background-color: #D6F673;
}